body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  padding: 0;
  border: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 3rem;
  background-color: #000;
  display: flex;
  justify-content: end;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
